*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
    background-image: url(../img/mainbanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 100vh;
    }
    a{
       text-decoration: none; 
       font-size: 0.7rem;
       color: rgb(52, 70, 70);
       margin-left: 33px;
    }
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#login{
    height: 456px;
    width: 950px;
    background-color: white;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    display: flex;
}
/* section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    height: 456px;
    width: 950px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
} */
section#custom-field{
    background-image: url(../img/login-image.png);
    background-size: cover;
    background-position: center center;
    width: 50%;
}
#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2 1 0;
}
#form-field{
      
}
#form-field  h1{
    text-align: center;
    margin-bottom:2rem;
    font-size: 2rem;
    margin-top: -5rem;
    color: #333;
}
div#form input{
    display: block;
}
.campo input[type="text"],
.campo input[type="password"]{
    padding: 7px 3px;
}
.campo{
    display: flex;
    gap: 0.4rem;
}
.campo span{
    font-size: 1.7rem;
}
form div.campo{
    margin: 6px 0;
}
input[type="submit"]{
    display: block;
    width: 159.45px;
    margin-left: 33px;
    margin-bottom: 0.3rem;
    padding: 7px 0;
    font-size: 14px;
    border-radius: 2px;
    background-image: linear-gradient(45deg, #42BEA3, #49B2D3);
    border: transparent;
    color: #fff;
    cursor: pointer;
}


@media (max-width: 967px){
    section#login{
        width: 700px;
    }
    section#custom-field{
        background-image: url(../img/login-image.png);
        background-size: cover;
        background-position: center center;
        width: 55%;
    }
    div#form-field{
        justify-content: center;
    }
    #custom-field img{
        display: none;
    }
    #form-field  h1{
        margin-top: 0.5px;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .campo span{
        font-size: 1.2rem;
    }
    input[type="submit"]{
        margin-left: 26px;
        width: 155.25px;
    }
    
}

@media (max-width: 480px){
    section#login{
        flex-direction: column;
        width: 260px;
        border-radius: 10px;
        overflow: hidden;
    }
    section#custom-field{
        background-image: url(../img/login-image.png);
        background-size: cover;
        background-position: center center;
        height: 200px;
    }
    div#form-field{
        justify-content: center;
    }
    #custom-field img{
        display: none;
    }
    #form-field  h1{
        margin-top: 0.5px;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .campo span{
        font-size: 1.2rem;
    }
    input[type="submit"]{
        margin-left: 26px;
        width: 155.25px;
    }
    
}
